<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.network.mapper.BackendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnjoying.justice.network.entity.Backend">
        <id column="backend_id" property="backendId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="lb_id" property="lbId" />
        <result column="name" property="name" />
        <result column="backend_server" property="backendServer" />
        <result column="phase_status" property="phaseStatus" />
    </resultMap>
</mapper>
