<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.network.mapper.EipMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnjoying.justice.network.entity.Eip">
        <id column="eip_id" property="eipId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="address_type" property="addressType" />
        <result column="ipaddr" property="ipaddr" />
        <result column="prefix_len" property="prefixLen" />
        <result column="status" property="status" />
        <result column="bandwidth" property="bandwidth" />
        <result column="pool_id" property="poolId" />
    </resultMap>
</mapper>
