<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.network.mapper.SgVmInstanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnjoying.justice.network.entity.SgVmInstance">
        <id column="sg_vm_id" property="sgVmId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="sg_id" property="sgId" />
        <result column="instance_id" property="instanceId" />
        <result column="phase_status" property="phaseStatus" />
        <result column="sg_id_from_agent" property="sgIdFromAgent" />
        <result column="vpc_id_from_agent" property="vpcIdFromAgent" />
    </resultMap>
</mapper>
