<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.network.mapper.SubnetMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnjoying.justice.network.entity.Subnet">
        <id column="subnet_id" property="subnetId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="subnet_id_from_agent" property="subnetIdFromAgent" />
        <result column="name" property="name" />
        <result column="vpc_id" property="vpcId" />
        <result column="phase_status" property="phaseStatus" />
        <result column="phase_info" property="phaseInfo" />
        <result column="address_type" property="addressType" />
        <result column="subnet_cidr" property="cidr" />
        <result column="gateway_ip" property="gatewayIp" />
    </resultMap>
</mapper>
