<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.repo.mapper.VolumeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnjoying.justice.repo.entity.Volume">
        <id column="volume_id" property="volumeId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="user_id" property="userId" />
        <result column="storage_pool_id" property="storagePoolId" />
        <result column="volume_id_from_agent" property="volumeIdFromAgent" />
        <result column="image_id" property="imageId" />
        <result column="name" property="name" />
        <result column="phase_status" property="phaseStatus" />
        <result column="type" property="type" />
        <result column="description" property="description"/>
        <result column="size" property="size"/>
        <result column="export_name" property="exportName"/>
    </resultMap>
</mapper>
