<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.justice.repo.mapper.VolumeSnapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnjoying.justice.repo.entity.VolumeSnap">
        <id column="volume_snap_id" property="volumeSnapId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="volume_snap_id_from_agent" property="volumeSnapIdFromAgent" />
        <result column="volume_id" property="volumeId" />
        <result column="phase_status" property="phaseStatus" />
        <result column="description" property="description"/>
        <result column="name" property="name"/>
    </resultMap>
</mapper>
