<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnjoying.vm.mapper.PciDeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lnjoying.vm.entity.PciDevice">
        <id column="device_id" property="deviceId" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="device_group_id" property="deviceGroupId" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="phase_status" property="phaseStatus" />
        <result column="device_id_from_agent" property="deviceIdFromAgent" />
    </resultMap>
</mapper>
