argcomplete>=3.1.2
argparse-range>=0.1.2
eventlet>=0.33.3
filelock>=3.12.4
Flask-JWT-Extended>=4.5.3
Flask-SocketIO>=5.3.6
gipc>=1.5.0
gunicorn>=21.2.0
loguru>=0.7.2
paramiko>=3.3.1
pexpect>=4.8.0
pycdlib>=1.14.0
python-hpilo>=4.4.3
pyvmomi>=8.0.2.0
PyYAML>=6.0.1
readerwriterlock>=1.0.9
websockify>=0.11.0
ZODB>=5.8.1
greenlet>=3.0.0
cryptography>=41.0.4
scapy>=2.5.0
