$theme-color: #2080F0FF;
body{
  --layoutBgColor: rgb(48, 65, 86);
  --layoutActiveBgColor: #001528 ;
  --layoutTextColor: rgb(191, 203, 217);
  --layoutActiveTextColor: rgb(64, 158, 255);
  --contentBgColor: rgba(255,255,255,1);
}
